.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

@font-face {
  font-family: 'ksocial';
  src: url("font/ksocial.eot?-o3k7nu");
  src: url("font/ksocial.eot?#iefix-o3k7nu") format("embedded-opentype"), url("font/ksocial.ttf?-o3k7nu") format("truetype"), url("font/ksocial.woff?-o3k7nu") format("woff"), url("font/ksocial.svg?-o3k7nu#ksocial") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="ksocial-"]:before,
[class*=" ksocial-"]:before {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ksocial-email,
.ksocial-facebook,
.ksocial-google-plus,
.ksocial-linkedin,
.ksocial-twitter {
  display: inline-block;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  transform: translate(0px, 0px); }
  .ksocial-email:before,
  .ksocial-facebook:before,
  .ksocial-google-plus:before,
  .ksocial-linkedin:before,
  .ksocial-twitter:before {
    font-family: "kentfont","ksocial";
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit; }

.ksocial-email:before {
  content: "\f0e0"; }

.ksocial-facebook:before {
  content: "\f09a"; }

.ksocial-google-plus:before {
  content: "\f0d5"; }

.ksocial-linkedin:before {
  content: "\f0e1"; }

.ksocial-twitter:before {
  content: "\f099"; }

.kent-social-links {
  position: relative;
  overflow: hidden;
  list-style: none !important;
  padding: 0;
  margin: 15px 0; }
  .kent-social-links a {
    border: 1px solid transparent;
    color: #AAA;
    background-image: none;
    background-color: transparent;
    border-color: #AAA;
    font-size: 1.7rem;
    line-height: 1.9rem;
    padding: 0;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    float: left;
    margin-left: .4rem;
    margin-bottom: .4rem; }
    .kent-social-links a:focus, .kent-social-links a.focus, .kent-social-links a:active, .kent-social-links a.active,
    .open > .kent-social-links a.dropdown-toggle {
      color: #fff;
      background-color: #AAA;
      border-color: #AAA; }
    .kent-social-links a:hover, .kent-social-links a:active, .kent-social-links a:focus {
      color: #fff;
      background-color: #AAA;
      border-color: #AAA; }
    .kent-social-links a.disabled:focus, .kent-social-links a.disabled.focus, .kent-social-links a:disabled:focus, .kent-social-links a:disabled.focus {
      border-color: #dddddd; }
    .kent-social-links a.disabled:hover, .kent-social-links a.disabled:active, .kent-social-links a.disabled:focus, .kent-social-links a:disabled:hover, .kent-social-links a:disabled:active, .kent-social-links a:disabled:focus {
      border-color: #dddddd; }
    .kent-social-links a:first-child {
      margin-left: 0; }
    .kent-social-links a:before {
      font-family: "kentfont", sans-serif;
      line-height: 3rem;
      line-height: calc(3rem); }
    .kent-social-links a.ksocial-facebook:hover, .kent-social-links a.ksocial-facebook:focus, .kent-social-links a.ksocial-facebook:active {
      color: #FFFFFF;
      background-color: #3B5998;
      border-color: #3B5998; }
    .kent-social-links a.ksocial-linkedin:hover, .kent-social-links a.ksocial-linkedin:focus, .kent-social-links a.ksocial-linkedin:active {
      color: #FFFFFF;
      background-color: #0077B5;
      border-color: #0077B5; }
    .kent-social-links a.ksocial-twitter:hover, .kent-social-links a.ksocial-twitter:focus, .kent-social-links a.ksocial-twitter:active {
      color: #FFFFFF;
      background-color: #55ACEE;
      border-color: #55ACEE; }
    .kent-social-links a.ksocial-youtube:hover, .kent-social-links a.ksocial-youtube:focus, .kent-social-links a.ksocial-youtube:active {
      color: #FFFFFF;
      background-color: #CD201F;
      border-color: #CD201F; }
    .kent-social-links a.ksocial-flickr:hover, .kent-social-links a.ksocial-flickr:focus, .kent-social-links a.ksocial-flickr:active {
      color: #FFFFFF;
      background-color: #FC329B;
      border-color: #FC329B; }
    .kent-social-links a.ksocial-rss:hover, .kent-social-links a.ksocial-rss:focus, .kent-social-links a.ksocial-rss:active {
      color: #FFFFFF;
      background-color: #FF6600;
      border-color: #FF6600; }
    .kent-social-links a.ksocial-tumblr:hover, .kent-social-links a.ksocial-tumblr:focus, .kent-social-links a.ksocial-tumblr:active {
      color: #FFFFFF;
      background-color: #35465C;
      border-color: #35465C; }
    .kent-social-links a.ksocial-pinterest:hover, .kent-social-links a.ksocial-pinterest:focus, .kent-social-links a.ksocial-pinterest:active {
      color: #FFFFFF;
      background-color: #CB2027;
      border-color: #CB2027; }
    .kent-social-links a.ksocial-instagram:hover, .kent-social-links a.ksocial-instagram:focus, .kent-social-links a.ksocial-instagram:active {
      color: #FFFFFF;
      background-color: #125688;
      border-color: #125688; }
    .kent-social-links a.ksocial-google-plus:hover, .kent-social-links a.ksocial-google-plus:focus, .kent-social-links a.ksocial-google-plus:active {
      color: #FFFFFF;
      background-color: #DC4E41;
      border-color: #DC4E41; }
    .kent-social-links a.ksocial-mendeley:hover, .kent-social-links a.ksocial-mendeley:focus, .kent-social-links a.ksocial-mendeley:active {
      color: #FFFFFF;
      background-color: #B22129;
      border-color: #B22129; }
    .kent-social-links a.ksocial-academia-edu:hover, .kent-social-links a.ksocial-academia-edu:focus, .kent-social-links a.ksocial-academia-edu:active {
      color: #FFFFFF;
      background-color: #222;
      border-color: #222; }
