@font-face {
  font-family: 'ksocial';
  src:url('font/ksocial.eot?-o3k7nu');
  src:url('font/ksocial.eot?#iefix-o3k7nu') format('embedded-opentype'),
  url('font/ksocial.ttf?-o3k7nu') format('truetype'),
  url('font/ksocial.woff?-o3k7nu') format('woff'),
  url('font/ksocial.svg?-o3k7nu#ksocial') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Bootstrap Overrides
[class^="ksocial-"]:before,
[class*=" ksocial-"]:before {
  display:inline-block;
  vertical-align:middle;
  line-height:1;
  font-weight:normal;
  font-style:normal;
  text-decoration:inherit;
  text-transform:none;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

// Mixins

.ksocial-email,
.ksocial-facebook,
.ksocial-google-plus,
.ksocial-linkedin,
.ksocial-twitter {
  display:inline-block;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  transform: translate(0px, 0px);
  &:before {
    font-family:"kentfont","ksocial";
    display:inline-block;
    font-weight:normal;
    font-style:normal;
    text-decoration:inherit;
  }
}

// Icons

.ksocial-email {
  &:before {
    content:"\f0e0";
  }

}


.ksocial-facebook {
  &:before {
    content:"\f09a";
  }

}


.ksocial-google-plus {
  &:before {
    content:"\f0d5";
  }

}


.ksocial-linkedin {
  &:before {
    content:"\f0e1";
  }

}


.ksocial-twitter {
  &:before {
    content:"\f099";
  }

}



.kent-social-links{
  padding: 0 !important;
  list-style: none !important;
  width:100%;
  float: left;
  clear: both;
  margin: 0 -5px 10px 0 !important;
  text-align: right;
  & > li{
    display: inline-block !important;
    padding: 0 5px 0 5px!important;
    margin: 0 !important;
    &:before{
      content: none !important;
    }
    a{
      color: #FFF;
      font-size: 20px !important;
      line-height: 30px !important;
      display: inline-block;
      overflow: hidden;
      text-decoration: none;
      border-bottom: none;
      padding: 3px 5px !important;
      background-color: #D1D1D1;
      vertical-align: middle !important;
      &:hover{
        background-color: #B4B4B4;
        text-decoration: none;
        border-bottom: none;
        color: #fff;
      }
      i{
        width: 26px;
        text-align: center;
      }
    }
  }
}